.search-container {
    position: fixed;
    top: 20px; /* Abstand vom oberen Rand */
    right: 20px; /* Abstand vom linken Rand */
    background-color: rgba(255, 255, 255, 0.8); /* Transparentes Weiß */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 1000; /* Immer im Vordergrund */
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    width: 200px; /* Breite der Suchleiste */
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

body {
    background-color: #00ffff;
    background-image: url("../Hintergrund/blue\ wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    font-family: Arial, sans-serif;
}

nav a {
    float: left;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

nav a:hover {
    color: rgb(32, 247, 29);
    text-shadow: 4px 4px 8px #000000;
    transform: translateX(1em);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

nav a {
    animation: fadeIn 1s ease-in-out;
}

main {
    max-width: 1024px;
    margin: auto;
    margin-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}